<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ticket_backend.mapper.BoardMapper">

  <select id="getPostsByCategory" parameterType="String" resultType="PostAllResponse">
    SELECT
    p.post_id,
    p.user_id,
    p.board_id,
    u.nick_name,
    p.title,
    p.content,
    p.image_url,
    p.created_at,
    p.updated_at,
    p.view_count,
    p.like_count
    FROM posts p
    JOIN users u ON p.user_id = u.user_id
    WHERE p.board_id = #{boardType, typeHandler=com.ssafy.ticket_backend.handler.BoardTypeHandler}
    and p.is_delete = false
    ORDER BY p.created_at ASC
  </select>

  <select id="searchPosts" resultType="PostAllResponse">
    SELECT
    p.post_id,
    p.user_id,
    p.board_id,
    u.nick_name,
    p.title,
    p.content,
    p.image_url,
    p.created_at,
    p.updated_at,
    p.view_count,
    p.like_count
    FROM posts p
    JOIN users u ON p.user_id = u.user_id
    WHERE p.board_id = #{boardType, typeHandler=com.ssafy.ticket_backend.handler.BoardTypeHandler}
    and p.is_delete = false
    <if test="title != null and title != ''">
      AND p.title LIKE CONCAT('%', #{title}, '%')
    </if>
    <if test="content != null and content != ''">
      AND p.content LIKE CONCAT('%', #{content}, '%')
    </if>
    <if test="writer != null and writer != ''">
      AND u.nick_name LIKE CONCAT('%', #{writer}, '%')
    </if>
    ORDER BY p.created_at ASC
  </select>

</mapper>