<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ticket_backend.mapper.CommentMapper">

  <insert id="insertComment" parameterType="CommentRequest">
    INSERT INTO comments (post_id, user_id, content)
    VALUES (#{postId}, #{userId}, #{content})
  </insert>

  <delete id="deleteComment" parameterType="Long">
    DELETE FROM comments WHERE comment_id = #{comment_id}
  </delete>

  <update id="updateComment" parameterType="CommentUpdateRequest">
    UPDATE comments
    SET content = #{content}
    WHERE comment_id = #{commentId}
  </update>


  <select id="getComments" parameterType="Long" resultType="CommentDetailResponse">
    SELECT comment_id, post_id, user_id, content, created_at, updated_at
    FROM comments
    WHERE post_id = #{postId}
  </select>

  <select id="selectUserIdByCommentId" parameterType="Long" resultType="Long">
    SELECT user_id
    FROM comments
    WHERE comment_id = #{commentId}
  </select>


</mapper>


