<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ticket_backend.mapper.GameMapper">
  <!-- 날짜와 팀으로 게임 검색 -->
  <select id="selectGameByDateAndTeam" resultType="com.ssafy.ticket_backend.model.Game">
    SELECT *
    FROM games
    WHERE game_datetime::DATE = #{gameDate}
    AND (home_team = #{team, typeHandler=com.ssafy.ticket_backend.handler.BaseballTeamsTypeHandler}
    OR away_team = #{team, typeHandler=com.ssafy.ticket_backend.handler.BaseballTeamsTypeHandler})
  </select>

  <!-- 게임 검색 -->
  <select id="selectGameByGameId" resultType="com.ssafy.ticket_backend.model.Game">
    SELECT *
    FROM games
    WHERE game_id = #{gameId}
  </select>

  <!-- 같은 날짜에 있는 게임 검색 -->
  <select id="selectGameByDate" resultType="com.ssafy.ticket_backend.model.Game">
    SELECT *
    FROM games
    WHERE game_datetime::DATE = #{gameDate}
  </select>

  <!-- 같은 날짜에 다른 게임에 응모하였는지 확인 -->
  <select id="checkWaitlistsByUserIdAndGameId" resultType="boolean">
    SELECT EXISTS (
    SELECT 1
    FROM waitlists
    WHERE user_id = #{userId}
    AND game_id = #{gameId}
    )
  </select>

  <select id="selectWaitlistByUserIdAndGameId" resultType="boolean">
    SELECT *
    FROM waitlists
    WHERE user_id = #{userId}
    AND game_id = #{gameId}
  </select>

  <!-- 대기열 추가 -->
  <insert id="insertWaitlist">
    INSERT INTO waitlists (user_id, game_id, waitlist_status)
    VALUES (#{userId}, #{gameId}, 'BEING_WAITING')
  </insert>

  <!-- 대기열 삭제 -->
  <delete id="deleteWaitlist">
    DELETE FROM waitlists
    WHERE user_id = #{userId}
    AND game_id = #{gameId}
  </delete>

  <!-- 더미 생성용 -->
  <select id="getAllGame">
    SELECT
    game_id,
    game_datetime,
    home_team,
    away_team,
    is_cancelled,
    is_ended,
    stadium
    FROM games
    WHERE is_cancelled = FALSE AND is_ended = FALSE
  </select>

  <update id="cancelWaiting" parameterType="map">
    UPDATE waitlists
    SET waitlist_status = 'CANCEL_WAITING'
    WHERE user_id = #{userId}
    AND game_id = #{gameId}
  </update>

  <!--  챗봇에 넘길 게임 데이터 -->
  <select id="selectGameForChatbot"
    resultType="com.ssafy.ticket_backend.dto.request.GameForChatbotRequest">
    SELECT
    game_datetime,
    home_team,
    away_team,
    stadium
    FROM games
    WHERE
    game_datetime &gt;= NOW()
    AND game_datetime &lt;= NOW() + INTERVAL '7 days'
    AND is_cancelled = false
    AND is_ended = false
    ORDER BY game_datetime ASC
  </select>


</mapper>