<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ticket_backend.mapper.PostMapper">

  <insert id="insertPost"
    parameterType="PostRequest"
    useGeneratedKeys="true"
    keyProperty="postId"
    keyColumn="post_id">
    INSERT INTO posts (user_id, title, content, board_id, image_url)
    VALUES (#{userId}, #{title}, #{content}, #{boardType}, #{imageUrl})
  </insert>


  <!-- 이미지 URL 업데이트 -->
  <update id="updatePostImage">
    UPDATE posts
    SET image_url = #{imageUrl}
    WHERE post_id = #{postId}
  </update>

  <!-- 게시글 이미지 키 조회 -->
  <select id="getPostImageKey" parameterType="Long" resultType="String">
    SELECT image_url
    FROM posts
    WHERE post_id = #{postId}
  </select>

  <select id="selectPostById" parameterType="Long" resultType="PostDetailResponse">
    SELECT
    post_id,
    board_id,
    created_at,
    updated_at,
    view_count,
    title,
    content,
    image_url,
    like_count
    FROM posts
    WHERE post_id = #{postId}
    AND is_delete = false
  </select>


  <update id="plusView" parameterType="Long">
    UPDATE posts
    SET view_count = view_count + 1
    WHERE post_id = #{postId}
  </update>

  <select id="selectUserIdByPostId" parameterType="Long" resultType="Long">
    SELECT user_id
    FROM posts
    WHERE post_id = #{postId}
  </select>

  <delete id="deletePost" parameterType="Long">
    DELETE FROM posts WHERE post_id = #{postId}
  </delete>

  <update id="deleteTrue" parameterType="Long">
    UPDATE posts
    SET is_delete = true
    WHERE post_id = #{postId}
  </update>


  <update id="updatePost" parameterType="PostUpdateRequest">
    UPDATE posts
    SET
    title = #{title},
    content = #{content},
    image_url = #{imageUrl},
    updated_at = NOW()
    WHERE post_id = #{postId}
  </update>

  <!-- 좋아요 확인 -->
  <select id="selectLike" resultType="boolean">
    SELECT EXISTS(
    SELECT 1
    FROM posts_like
    WHERE user_id = #{userId}
    AND post_id = #{postId}
    )
  </select>

  <update id="plusLike">
    UPDATE posts
    SET like_count = like_count + 1
    WHERE post_id = #{postId}
  </update>

  <insert id="insertPostLike">
    INSERT INTO posts_like (user_id, post_id)
    VALUES (#{userId}, #{postId})
  </insert>

  <select id="selectPostsByUserId" parameterType="long"
    resultType="com.ssafy.ticket_backend.dto.response.PostAllResponse">
    SELECT
    p.post_id,
    p.board_id,
    p.user_id,
    p.created_at,
    p.updated_at,
    p.view_count,
    p.title,
    p.content,
    p.image_url,
    p.like_count,
    p.is_delete,
    u.nick_name
    FROM
    posts p
    JOIN
    users u ON p.user_id = u.user_id
    WHERE
    p.user_id = #{userId} and p.is_delete = false
  </select>
</mapper>