<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ticket_backend.mapper.PostMapper">

  <insert id="insertPost" parameterType="PostRequest">
    INSERT INTO posts (user_id, title, content, board_id, image_url)
    VALUES (#{userId}, #{title}, #{content}, #{boardType}, #{imageUrl})
  </insert>

  <select id="selectPostById" parameterType="Long" resultType="PostDetailResponse">
    SELECT
    post_id,
    board_id,
    created_at,
    updated_at,
    view_count,
    title,
    content,
    image_url,
    like_count
    FROM posts
    WHERE post_id = #{postId}
  </select>

  <update id="plusView" parameterType="Long">
    UPDATE posts
    SET view_count = view_count + 1
    WHERE post_id = #{postId}
  </update>

  <select id="selectUserIdByPostId" parameterType="Long" resultType="Long">
    SELECT user_id
    FROM posts
    WHERE post_id = #{postId}
  </select>

  <delete id="deletePost" parameterType="Long">
    DELETE FROM posts WHERE post_id = #{postId}
  </delete>

  <update id="updatePost" parameterType="PostUpdateRequest">
    UPDATE posts
    SET
    title = #{title},
    content = #{content},
    image_url = #{imageUrl},
    updated_at = NOW()
    WHERE post_id = #{postId}
  </update>

  <!-- 좋아요 확인 -->
  <select id="selectLike" resultType="boolean">
    SELECT EXISTS(
    SELECT 1
    FROM posts_like
    WHERE user_id = #{userId}
    AND post_id = #{postId}
    )
  </select>

  <update id="plusLike">
    UPDATE posts
    SET like_count = like_count + 1
    WHERE post_id = #{postId}
  </update>

  <insert id="insertPostLike">
    INSERT INTO posts_like (user_id, post_id)
    VALUES (#{userId}, #{postId})
  </insert>
</mapper>