<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ticket_backend.mapper.RankingMapper">

  <!-- 유저 양도 랭킹 조회 (상위 3명)-->
  <select id="selectUserRanking"
    parameterType="Long"
    resultType="com.ssafy.ticket_backend.dto.response.UserRankingResponse">
    SELECT
    user_id AS userId,
    nick_name AS userName,
    transfer_number AS transferAllCount
    FROM users
    ORDER BY transferAllCount DESC
    LIMIT 3
  </select>


  <!-- 팀별 양도 랭킹 조회 (상위 3팀)-->
  <select id="selectTeamRanking"
    resultType="com.ssafy.ticket_backend.dto.response.TeamRankingResponse">
    SELECT
    my_team AS teamName,
    SUM(transfer_number) AS transferAllCount
    FROM users
    GROUP BY my_team
    ORDER BY transferAllCount DESC
    LIMIT 3
  </select>

</mapper>