<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ticket_backend.mapper.TransactionMapper">
  <insert id="insertKakaoTransaction"
    parameterType="com.ssafy.ticket_backend.model.KakaoTransaction">
    INSERT INTO transaction_states (
    ticket_id,
    seller_id,
    buyer_id,
    transaction_status
    ) VALUES (
    #{kakaoPayApproveResponse.ticketId},
    #{kakaoPayApproveResponse.sellerId},
    #{kakaoPayApproveResponse.buyerId},
    #{kakaoPayApproveResponse.transactionStatus}
    )
  </insert>

  <select id="selectTicketByTicketId" parameterType="long"
    resultType="com.ssafy.ticket_backend.model.Ticket">
    SELECT *
    FROM
    tickets
    WHERE
    ticket_id = #{ticketId}
  </select>

  <update id="transactionComplete" parameterType="long">
    UPDATE tickets
    SET ticket_status = 'TRANSACTION_COMPLETE'
    WHERE ticket_id = #{ticketId}
  </update>

  <!-- 구매 정보 가져오기 -->
  <select id="selectBuyListByUserId" parameterType="long"
    resultType="com.ssafy.ticket_backend.model.Transaction">
    SELECT
    *
    FROM
    transaction_states
    WHERE
    buyer_id = #{userId} and transaction_status = 'TRANSACTION_COMPLETE'
  </select>

  <select id="selectGroupBuyListByUserId" parameterType="long"
    resultType="com.ssafy.ticket_backend.model.GroupTransaction">
    SELECT
    *
    FROM
    group_transaction_states
    WHERE
    buyer_id = #{userId} and transaction_status = 'TRANSACTION_COMPLETE'
  </select>

  <select id="selectTicketByTransactionId" resultType="com.ssafy.ticket_backend.model.Ticket"
    parameterType="long">
    SELECT t.*
    FROM tickets t
    JOIN transaction_states ts ON t.ticket_id = ts.ticket_id
    WHERE ts.transaction_id = #{transactionId}
  </select>

  <update id="cancelTransactionByTransactionId" parameterType="long">
    UPDATE transaction_stats
    SET transaction_status = 'CANCEL_WAITING'
    WHERE transaction_id = #{transactionId}
  </update>

  <insert id="insertTransaction" parameterType="com.ssafy.ticket_backend.model.Transaction">
    <selectKey keyProperty="transactionId" resultType="long" order="BEFORE">
      SELECT nextval('transaction_states_transaction_id_seq')
    </selectKey>

    INSERT INTO transaction_states (transaction_id,
    ticket_id,
    seller_id,
    buyer_id,
    transaction_status)
    VALUES (
    #{transactionId},
    #{ticketId},
    #{sellerId},
    #{buyerId},
    #{transactionStatus}
    )
  </insert>

  <insert id="insertGroupTransaction"
    parameterType="com.ssafy.ticket_backend.model.GroupTransaction">
    <selectKey keyProperty="transactionId" resultType="long" order="BEFORE">
      SELECT nextval('grouptransactionlist_transaction_id_seq')
    </selectKey>
    INSERT INTO group_transaction_states (transaction_id,
    ticket_id,
    seller_id,
    buyer_id,
    transaction_status)
    VALUES (
    #{transactionId},
    #{ticketIds, jdbcType=ARRAY, typeHandler=com.ssafy.ticket_backend.handler.LongArrayTypeHandler},
    #{sellerId},
    #{buyerId},
    #{transactionStatus}
    )
  </insert>

  <resultMap id="WaitlistResult" type="com.ssafy.ticket_backend.model.Waitlist">
    <id property="id" column="waitlist_id"/>
    <result property="userId" column="user_id"/>
    <result property="gameId" column="game_id"/>
    <result property="createdAt" column="created_at"/>
    <result property="status" column="waitlist_status"/>
    <result property="transactionId" column="transaction_id"/>
  </resultMap>

  <select id="selectWaitlistByUserIdAndGameId"
    resultMap="WaitlistResult"
    parameterType="map">
    SELECT *
    FROM waitlists
    WHERE user_id = #{userId}
    AND game_id = #{gameId}
    LIMIT 1
  </select>

  <resultMap id="GroupWaitlistMap" type="com.ssafy.ticket_backend.model.GroupWaitlist">
    <result property="groupWaitlistId" column="groupWaitlist_id"/>
    <result property="ticketIds" column="ticket_ids"
      typeHandler="com.ssafy.ticket_backend.handler.LongArrayTypeHandler"/>
    <result property="userId" column="user_id"/>
    <result property="gameId" column="game_id"/>
    <result property="createdAt" column="created_at"/>
    <result property="waitlistStatus" column="waitlist_status"/>
    <result property="transactionId" column="transaction_id"/>
    <result property="numberOfPeople" column="number_of_people"/>
  </resultMap>

  <select id="selectGroupWaitlistByUserId" resultMap="GroupWaitlistMap">
    SELECT
    groupWaitlist_id,
    ticket_ids,
    user_id,
    game_id,
    created_at,
    waitlist_status,
    transaction_id,
    number_of_people
    FROM group_waitlists
    WHERE user_id = #{userId}
    ORDER BY created_at DESC
  </select>

  <update id="updateWaitlist" parameterType="com.ssafy.ticket_backend.model.Waitlist">
    UPDATE waitlists
    <set>
      <if test="status != null">
        waitlist_status = #{status},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId},
      </if>
      <if test="ticketId != null">
        ticket_id = #{ticketId},
      </if>
    </set>
    WHERE waitlist_id = #{id}
  </update>

  <update id="updateGroupWaitlist" parameterType="com.ssafy.ticket_backend.model.GroupWaitlist">
    UPDATE group_waitlists
    <set>
      <if test="status != null">
        waitlist_status = #{waitlistStatus},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId},
      </if>
      <if test="ticketIds != null">
        ticket_ids =
        #{ticketIds, jdbcType=ARRAY, typeHandler=com.ssafy.ticket_backend.handler.LongArrayTypeHandler},
      </if>
    </set>
    WHERE waitlist_id = #{id}
  </update>

  <select id="selectTransactionByTicketId" parameterType="long"
    resultType="com.ssafy.ticket_backend.model.Transaction">
    SELECT *
    FROM transaction_states
    WHERE ticket_id = #{ticketId}
  </select>

  <select id="selectTransactionByTicketIdAndUserId" parameterType="long"
    resultType="com.ssafy.ticket_backend.model.Transaction">
    SELECT *
    FROM transaction_states
    WHERE ticket_id = #{ticketId} and buyer_id = #{userId}
  </select>

  <update id="updateTransaction" parameterType="com.ssafy.ticket_backend.model.Transaction">
    UPDATE transaction_states
    <set>
      <if test="ticketId != null">
        ticket_id = #{ticketId},
      </if>
      <if test="sellerId != null">
        seller_id = #{sellerId},
      </if>
      <if test="buyerId != null">
        buyer_id = #{buyerId},
      </if>
      <if test="transactionStatus != null">
        transaction_status = #{transactionStatus},
      </if>
    </set>
    WHERE transaction_id = #{transactionId}
  </update>

  <select id="selectWaitlistByTransactionId"
    resultType="com.ssafy.ticket_backend.model.Waitlist">
    SELECT
    waitlist_id AS id,
    ticket_id AS ticketId,
    user_id AS userId,
    game_id AS gameId,
    created_at AS createdAt,
    waitlist_status AS status,
    transaction_id AS transactionId
    FROM waitlists
    WHERE transaction_id = #{transactionId}
  </select>
</mapper>