<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ticket_backend.mapper.TransactionMapper">
  <insert id="insertKakaoTransaction"
    parameterType="com.ssafy.ticket_backend.model.KakaoTransaction">
    INSERT INTO transaction_states (
    ticket_id,
    seller_id,
    buyer_id,
    transaction_status
    ) VALUES (
    #{kakaoPayApproveResponse.ticketId},
    #{kakaoPayApproveResponse.sellerId},
    #{kakaoPayApproveResponse.buyerId},
    #{kakaoPayApproveResponse.transactionStatus}
    )
  </insert>

  <select id="selectTicketByTicketId" parameterType="long"
    resultType="com.ssafy.ticket_backend.model.Ticket">
    SELECT *
    FROM
    tickets
    WHERE
    ticket_id = #{ticketId}
  </select>

  <update id="transactionComplete" parameterType="long">
    UPDATE tickets
    SET ticket_status = '거래 완료'
    WHERE ticket_id = #{ticketId}
  </update>

  <!-- 구매 정보 가져오기 -->
  <select id="selectBuyListByUserId" parameterType="long"
    resultType="com.ssafy.ticket_backend.model.Transaction">
    SELECT
    *
    FROM
    transaction_states
    WHERE
    buyer_id = #{userId}
  </select>

  <select id="selectTicketByTransactionId" resultType="com.ssafy.ticket_backend.model.Ticket"
    parameterType="long">
    SELECT t.*
    FROM tickets t
    JOIN transaction_states ts ON t.ticket_id = ts.ticket_id
    WHERE ts.transaction_id = #{transactionId}
  </select>

  <update id="cancelTransactionByTransactionId" parameterType="long">
    UPDATE transaction_stats
    SET transaction_status = 'CANCEL_WAITING'
    WHERE transaction_id = #{transactionId}
  </update>
</mapper>