<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ticket_backend.mapper.UserMapper">

  <!-- 이메일로 유저 조회 (커뮤니티 용) -->
  <select id="selectUserByEmail" resultType="com.ssafy.ticket_backend.model.User">
    SELECT *
    FROM users
    WHERE email = #{email}
  </select>

  <select id="selectUserByUserId" resultType="com.ssafy.ticket_backend.model.User">
    SELECT *
    FROM users
    WHERE user_id = #{userId}
  </select>

  <!-- 게시판번호로 유저 조회 (커뮤니티 용)-->
  <select id="selectUserByPostId" parameterType="Long"
    resultType="PostUserResponse">
    SELECT user_id, nick_name
    FROM users
    WHERE user_id = #{userId}
  </select>

  <!--  private String email;-->
  <!--  private String gender;-->
  <!--  private String userName;-->
  <!--  private String nickName;-->
  <!--  private String birthDate;      // String으로 받고, LocalDate로 변환해도 됨-->
  <!--  private String phoneNumber;-->
  <!--  private String myTeam;-->
  <!--  private String socialProvider; // 예: "naver", "kakao"-->

  <!-- 유저 회원가입 -->
  <insert id="insertUser" parameterType="com.ssafy.ticket_backend.dto.request.UserSignupRequest"
    useGeneratedKeys="true" keyProperty="userId">
    INSERT INTO users (
    email,
    user_name,
    user_role,
    nick_name,
    birth_date,
    phone_number,
    my_team,
    social_provider,
    gender
    ) VALUES (
    #{email},
    #{userName},
    #{userRole, typeHandler=com.ssafy.ticket_backend.handler.UserRoleTypeHandler},
    #{nickName},
    #{birthDate}::date,
    #{phoneNumber},
    #{myTeam, typeHandler=com.ssafy.ticket_backend.handler.BaseballTeamsTypeHandler},
    #{socialProvider},
    #{gender, typeHandler=com.ssafy.ticket_backend.handler.UserGenderTypeHandler}
    )
  </insert>

  <!-- 이메일로 유저 조회 (로그인 유저 조회 용) -->
  <select id="selectLogingUserByEmail"
    resultType="com.ssafy.ticket_backend.dto.response.LoginUserResponse">
    SELECT
    user_id,
    user_name,
    email,
    nick_name,
    social_provider,
    profile_photo_url,
    gender,
    birth_date
    FROM users
    WHERE email = #{email}
  </select>


  <!-- 마이페이지 -->
  <select id="getMyPageByEmail" resultType="com.ssafy.ticket_backend.dto.response.MyPageResponse">
    SELECT
    email,
    user_name,
    nick_name,
    gender,
    profile_photo_url,
    my_team,
    phone_number,
    user_role,
    birth_date,
    transfer_number,
    receive_number,
    panelty_point
    FROM users
    WHERE email = #{email}
  </select>

  <!-- 유저 정보 수정 -->
  <update id="updateUser" parameterType="com.ssafy.ticket_backend.dto.request.UserPatchRequest">
    UPDATE users
    SET
    nick_name = #{nickName},
    profile_photo_url = #{profileImageUrl},
    my_team = #{myTeam, typeHandler=com.ssafy.ticket_backend.handler.BaseballTeamsTypeHandler},
    gender = #{gender}
    WHERE email = #{email}
  </update>

  <!-- S3 사용자 프로필 이미지 업데이트 -->
  <update id="updateUserProfileImage">
    UPDATE users
    SET profile_photo_url = #{imageKey}
    WHERE user_id = #{userId}
  </update>

  <!-- S3 사용자 프로필 이미지 key 조회 -->
  <select id="getUserProfileImageKey" parameterType="Long" resultType="String">
    SELECT profile_photo_url
    FROM users
    WHERE user_id = #{userId}
  </select>

  <!-- 회원 탈퇴 -->
  <delete id="deleteUserByEmail" parameterType="string">
    UPDATE users
    SET is_delete = TRUE
    WHERE email = #{email}
  </delete>

  <!-- other_flatform 더미용도  -->
  <select id="getUserEmailForDummy" resultType="String">
    SELECT email FROM users
    WHERE is_block = FALSE AND is_delete = FALSE
  </select>

  <delete id="deleteWaitListByUserIdAndGameId" parameterType="map">
    DELETE FROM waitlists
    WHERE user_id = #{buyer}
    AND game_id = #{gameId}
  </delete>

  <update id="decreaseWeightByUserId" parameterType="Long">
    UPDATE users
    SET weight = ROUND(GREATEST(weight * 0.9, 0)::numeric, 2)
    WHERE user_id = #{userId}
  </update>

  <update id="increaseWeightByUserId" parameterType="Long">
    UPDATE users
    SET weight = ROUND(GREATEST(COALESCE(weight, 0) * 1.1, 0), 2)
    WHERE user_id = #{userId}
  </update>

  <select id="getNickNameByUserId">
    SELECT nick_name FROM users
    WHERE user_id = #{userId}
  </select>
</mapper>
