<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ticket_backend.mapper.UserMapper">

  <!-- 이메일로 유저 조회-->
  <select id="selectUserByEmail" resultType="com.ssafy.ticket_backend.model.User">
    SELECT *
    FROM users
    WHERE email = #{email}
  </select>

  <!-- 유저 정보 삽입 -->
  <insert id="insertUser" parameterType="com.ssafy.ticket_backend.model.User"
    useGeneratedKeys="true" keyProperty="id">
    INSERT INTO users (
    email,
    password,
    gender,
    userName,
    userRole,
    nickname,
    birthDate,
    profilePhotoUrl,
    phoneNumber,
    myTeam,
    socialProvider,
    weight,
    transferNumber,
    receiveNumber,
    paneltyPoint,
    isBlock,
    isDelete
    ) VALUES (
    #{email},
    #{password},
    #{gender},
    #{userName},
    #{userRole},
    #{nickname},
    #{birthDate},
    #{profilePhotoUrl},
    #{phoneNumber},
    #{myTeam},
    #{socialProvider},
    #{weight},
    #{transferNumber},
    #{receiveNumber},
    #{paneltyPoint},
    #{isBlock},
    #{isDelete}
    )
  </insert>

  <!-- 마이페이지 -->
  <select id="getMyPageByEmail" resultType="com.ssafy.ticket_backend.dto.response.MyPageResponse">
    SELECT
    email,
    user_name,
    nickname,
    gender,
    profile_photo_url,
    my_team,
    phone_number,
    user_role,
    birth_date,
    transfer_number,
    receive_number,
    panelty_point
    FROM users
    WHERE email = #{email}
  </select>

  <!-- 유저 정보 수정 -->
  <update id="updateUser" parameterType="map">
    UPDATE users
    SET
    nickname = #{userPatchRequest.nickName},
    profile_photo_url = #{userPatchRequest.profileImageUrl},
    my_team = #{userPatchRequest.myTeam},
    gender = #{userPatchRequest.gender}
    WHERE email = #{email}
  </update>
</mapper>