<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ticket_backend.mapper.UserMapper">

  <!-- 이메일로 유저 조회 (커뮤니티 용) -->
  <select id="selectUserByEmail" resultType="com.ssafy.ticket_backend.model.User">
    SELECT *
    FROM users
    WHERE email = #{email}
  </select>

  <!-- 게시판번호로 유저 조회 (커뮤니티 용)-->
  <select id="selectUserByPostId" parameterType="Long"
    resultType="PostUserResponse">
    SELECT user_id, nickname
    FROM users
    WHERE user_id = #{userId}
  </select>

  <!--  private String email;-->
  <!--  private String gender;-->
  <!--  private String userName;-->
  <!--  private String nickName;-->
  <!--  private String birthDate;      // String으로 받고, LocalDate로 변환해도 됨-->
  <!--  private String phoneNumber;-->
  <!--  private String myTeam;-->
  <!--  private String socialProvider; // 예: "naver", "kakao"-->

  <!-- 유저 회원가입 -->
  <insert id="insertUser" parameterType="com.ssafy.ticket_backend.dto.request.UserSignupRequest"
    useGeneratedKeys="true" keyProperty="userId">
    INSERT INTO users (
    email,
    user_name,
    user_role,
    nick_name,
    birth_date,
    phone_number,
    my_team,
    social_provider,
    gender
    ) VALUES (
    #{email},
    #{userName},
    #{userRole, typeHandler=com.ssafy.ticket_backend.handler.UserRoleTypeHandler},
    #{nickName},
    #{birthDate}::date,
    #{phoneNumber},
    #{myTeam, typeHandler=com.ssafy.ticket_backend.handler.BaseballTeamsTypeHandler},
    #{socialProvider},
    #{gender, typeHandler=com.ssafy.ticket_backend.handler.UserGenderTypeHandler}
    )
  </insert>


  <!-- 마이페이지 -->
  <select id="getMyPageByEmail" resultType="com.ssafy.ticket_backend.dto.response.MyPageResponse">
    SELECT
    email,
    user_name,
    nickname,
    gender,
    profile_photo_url,
    my_team,
    phone_number,
    user_role,
    birth_date,
    transfer_number,
    receive_number,
    panelty_point
    FROM users
    WHERE email = #{email}
  </select>

  <!-- 유저 정보 수정 -->
  <update id="updateUser" parameterType="map">
    UPDATE users
    SET
    nickname = #{userPatchRequest.nickName},
    profile_photo_url = #{userPatchRequest.profileImageUrl},
    my_team = #{userPatchRequest.myTeam},
    gender = #{userPatchRequest.gender}
    WHERE email = #{email}
  </update>
</mapper>